// index page
.page-index {
    > .com-body {
        padding: 0;
        z-index: 1;
        &,
        > .bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        > .intro {
            width: 100%;
            text-align: center;
            color: $green;
            position: absolute;
            z-index: 2;
            top: 48%;
            transform: translate(0, -50%);
            > .title {
                font-size: 6.6rem;
                font-weight: 100;
            }
            > .description {
                font-size: rem(21);
                margin-top: .8em;
                padding: 0 rem(50);
                color: #008850;
                > .readmore {
                    display: inline-block;
                    border-bottom: 1px solid $green;
                    text-decoration: none;
                    font-size: 65%;
                    color: $green;
                    transform: translateY(rem(-3));
                    &:hover {
                        color: $green-hover;
                        border-bottom-color: $green-hover;
                    }
                }
            }
            > .quick-start {
                margin-top: rem(30);
                font-size: rem(19);
                .btn {
                    $btn-width: 120;
                    $btn-height: 56;
                    width: rem($btn-width);
                    height: rem($btn-height);
                    border-color: $green;
                    border-radius: rem(4);
                    box-shadow: none;
                    background-color: transparent;
                    color: $green;
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: '';
                        width: rem($btn-width + 4);
                        height: 0;
                        background-color: $green;
                        position: absolute;
                        z-index: 2;
                        left: -2px;
                        top: rem($btn-height / 2 - 2);
                        transition: height .4s ease-out;
                        transform: translateY(-50%) rotate(45deg);
                    }
                    .pa {
                        width: 100%;
                        height: 100%;
                        line-height: rem($btn-height);
                        z-index: 3;
                    }
                    &:hover {
                        color: #fff;
                        &:after {
                            height: rem($btn-width + 4);
                        }
                    }
                }
            }
        }
    }
    .com-footer {
        display: block;
        width: 100%;
        padding-right: $page-left-right;
        position: absolute;
        z-index: 8;
        left: 0;
        bottom: 0;
        text-align: right;
    }
}