// ipad 横向
@media all and (max-width: 1025px) {
    $page-left-right: rem(40);
    .com-header {
        padding: 0 $page-left-right;
    }

    .com-body {
        padding: rem(40) $page-left-right;
    }

    #page-example {
        > .com-body {
            > .main {
                padding-left: rem(264);
            }
        }
    }

    .instance {
        height: rem(400) !important;
    }
}

// ipad 竖向
@media all and (max-width: 768px) {
    .com-header {
        width: 100%;
        height: rem(60);
        line-height: rem(60);
        background-color: #fff;
        position: fixed;
        .mobile-menu {
            display: inline-block;
            font-size: rem(14);
        }
        .logo {
            float: right;
            height: auto;
            a {
                font-size: rem(16);
            }
        }
        .nav {
            float: none;
            width: rem(220);
            margin-right: 0;
            background-color: rgba(255, 255, 255, .9);
            box-shadow: 0 rem(2) rem(4) 0 #E8E8E8;
            transition: .4s ease-out;
            position: fixed;
            z-index: 10;
            left: rem(-220);
            top: rem(60);
            bottom: 0;
            overflow: auto;
            &.menu-show {
                transform: translate(rem(220), 0);
            }
            a {
                display: block;
                padding: 0 rem(20);
                line-height: 3;
            }
            .slideblock {
                display: none;
            }
            > .example-menu {
                display: block;
            }
        }
    }

    .com-body {
        padding-top: rem(100);
    }

    .page-index {
        .com-header {
            background-color: transparent;
        }
        .com-footer {
            padding-right: 0;
            text-align: center;
        }
        .intro {
            > .title {
                font-size: rem(30);
            }
            > .describe {
                font-size: rem(14);
            }
            > .usage {
                margin-top: rem(16);
                .btn {
                    width: rem(84);
                    height: rem(36);
                    font-size: rem(14);
                    &:after {
                        top: rem(17);
                    }
                    .pa {
                        line-height: rem(36);
                    }
                }
            }
        }
    }

    #page-example {
        .com-body {
            > .menu {
                display: none;
            }
            > .main {
                padding-left: 0;
            }
        }
    }

    #page-download {
        > .com-body {
            h3 {
                font-size: rem(14);
            }
        }
    }
}

// iPhone 6 plus 竖向
@media all and (max-width: 415px) {
    $page-left-right: rem(20);
    .com-header {
        padding: 0 $page-left-right;
    }

    .com-body {
        padding: rem(80) $page-left-right rem(20);
    }

    .com-footer {
        padding: rem(6) 0;
        > .text {
            transform: scale(.86);
            > div {
                display: block;
                text-align: center;
            }
        }
    }

    .instance {
        height: rem(180) !important;
    }

    // 404 page
    .not-found {
        #wrap {
            width: 250px;
            > img {
                width: 100%;
            }
        }
        #text {
            strong {
                padding-top: 15px;
            }
            a:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }
}