// ipad horizontal
@media all and (max-width: 1025px) {
    $page-left-right: rem(40);
    .com-header {
        padding: 0 $page-left-right;
    }

    .com-body {
        padding: rem(40) $page-left-right;
    }

    .page-examples {
        .main {
            padding-left: rem(264);
            > .content {
                [class^="instance"]:not(.instance-ctrl) {
                    .demo {
                        height: rem(400);
                    }
                }
            }
        }
    }
}

// ipad vertical
@media all and (max-width: 768px) {
    .com-header {
        width: 100%;
        height: rem($header-height-mobile);
        line-height: rem(60);
        background-color: #fff;
        position: fixed;
        z-index: 999;
    }

    .com-body {
        padding-top: rem(100);
    }

    .page-index {
        .com-header {
            background-color: transparent;
        }
        .com-footer {
            padding-right: 0;
            text-align: center;
        }
    }

    .page-examples {
        .menu {
            display: none;
        }
        .main {
            padding-left: 0;
            > .content {
                [class^="instance"]:not(.instance-ctrl) {
                    .demo {
                        height: rem(400);
                    }
                }
                .table-scroll {
                    overflow: auto;
                }
                table {
                    white-space: nowrap;
                }
            }
        }
    }
}

// iPhone 6 plus vertical
@media all and (max-width: 415px) {
    $page-left-right: rem(20);
    .com-header {
        padding: 0 $page-left-right;
    }

    .com-body {
        padding: rem(80) $page-left-right rem(20);
    }

    .com-footer {
        padding: rem(6) 0;
        > .text {
            transform: scale(.86);
            > div {
                display: block;
                text-align: center;
            }
        }
    }

    .page-examples {
        .main {
            > .content {
                [class^="instance"]:not(.instance-ctrl) {
                    .demo {
                        height: rem(200);
                    }
                }
                .wave_loading {
                    [class^="instance"] {
                        height: rem(300);
                    }
                }
            }
        }
    }

    // 404 page
    .not-found {
        .wrap {
            width: 250px;
            > img {
                width: 100%;
            }
        }
        .text {
            strong {
                padding-top: 15px;
            }
            a:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }
}