// 404 page
.not-found {
    width: 100%;
    height: 100%;
    background-color: $green;
    &::selection {
        background: none;
    }
    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .text {
        text-align: center;
        padding-top: 20px;
        > img {
            width: 128px;
            height: 29px;
        }
        strong {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            * {
                float: left;
            }
        }
        a {
            line-height: 14px;
            margin: 1px 0 0 10px;
            padding: 6px 14px;
            border: 1px solid #fff;
            border-radius: 14px;
            color: #fff;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            transition: 0.2s ease-out;
            &.active,
            &:hover {
                background: #fff;
                color: $root-text-color;
            }
        }
    }
    .below {
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0;
    }
}