{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "rules": {
    "no-console": 1,
    "no-var": 2,
    "prettier.eslintIntegration": true,
    "prettier/prettier": [
      "error",
      {
        "htmlWhitespaceSensitivity": "ignore"
      }
    ]
  }
}
