{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "globals": {
    "languages": true
  },
  "rules": {
    "no-console": 1,
    "no-var": 2,
    "prettier.eslintIntegration": true,
    "prettier/prettier": [
      "error",
      {
        "htmlWhitespaceSensitivity": "ignore"
      }
    ]
  }
}
