@import "_functions";

// font family
$font-family: "PingFang SC",
  "Helvetica Neue", "Helvetica",
  "Microsoft JhengHei", "Microsoft YaHei",
  "Arial", "sans-serif";

$code-font-family: Menlo, Monaco, Monospace, Consolas;

// text color
$root-text-color: #333;
$white: #fff;
$lightgray: #ccc;
$gray: #ccc;
$black: #000;
$red: #ff505c;
$green: #00be70;
$blue: #148fcc;

// color for text hover
$green-hover: #01A260;

// background color
$root-bg: #fff;
$white-bg: #fff;
$lightgray-bg: #F7F7F7;
$gray-bg: #ccc;
$black-bg: #000;
$red-bg: #ff505c;
$green-bg: #00be70;
$blue-bg: #148fcc;

// color for background hover
$green-bg-hover: #01A260;
$lightgray-bg-hover: #f1f1f1;

// border color
$gray-border: #EAEAEA;
$lightgray-border: #ccc;

// radius
$radius: rem(2);

// animation easing
$bezier: cubic-bezier(.175, .885, .32, 1);

// badge component
$badge-bgcolor: #ff505c;
$badge-raduis: rem(10);

// table component
$table-striped-bgcolor: $gray-bg;
$table-hover-bgcolor: #f5f5f5;
$table-border-color: $gray-border;

// btn component
$btn-default-hover: #e6e6e6;
$btn-default-active: #d4d4d4;
$btn-default-border-color: $gray-border;
$btn-primary: #148fcc;
$btn-primary-hover: #1386bf;
$btn-primary-active: #1386bf;
$btn-primary-border-color: #0e90d2;
$btn-secondary: #3bb4f2;
$btn-secondary-hover: #00a0e9;
$btn-secondary-active: #00a0e9;
$btn-secondary-border-color: #00a0e9;
$btn-success: $green;
$btn-success-hover: $green-hover;
$btn-success-active: $green-hover;
$btn-success-border-color: $green;
$btn-warning: #fdb926;
$btn-warning-hover: #ffa21d;
$btn-warning-active: #ffa21d;
$btn-warning-border-color: #ffa21d;
$btn-danger: #ff505c;
$btn-danger-hover: #d7342e;
$btn-danger-active: #d7342e;
$btn-danger-border-color: #d7342e;

// btn radius
$btn-radius: $radius;

// btn padding
$btn-padding-vertical: .5em;
$btn-padding-level: 1em;
$btn-sm-padding-vertical: .2em;
$btn-sm-padding-level: .6em;
$btn-lg-padding-vertical: .8em;
$btn-lg-padding-level: 1.7em;

// form component
$form-text-color: #555;
$input-border-color: #ccc;
$input-border-highlight: #148fcc;
$input-radius: rem(3);

// header component
$header-height-mobile: 60;

// site size
$site-header-height: rem(94);
$site-footer-height: rem(70);
$site-side-space: rem(120);
$site-container-width-max: 2000px;

$mobile-site-header-height: rem(60);

// screen size
$screen-xs: 415px;    // vertical iPhone 6 plus
$screen-sm: 768px;    // vertical iPad
$screen-md: 1025px;   // horizontal iPad
