#app {
  height: 100%;
}

.site-sticky-footer {
  display: flex;
  flex-direction: column;
  > .site-container {
    flex-grow: 1;
  }
}

.site-container-width {
  max-width: $site-container-max-width;
  padding: 0 $site-side-space;
  margin: 0 auto;
}
