// markdown compoent syntax config
$md-pre-font-family: $code-font-family;

// text color
$md-white: #fff;
$md-text-color: $root-text-color;
$md-red: #c72929;
$md-lightgray: $lightgray;
$md-gray: #8a8a8a;
$md-gray-comment: #999;

// background color
$md-gray-bg: $gray-bg;
$md-lightgray-bg: $lightgray-bg;
$md-white-bg: #fff;
$md-code-bg-in-odd-table: #f1f1f1;

// border color
$md-border-color: $gray-border;

@mixin md-a-style() {
    text-decoration: none;
    color: $md-text-color;
}

// examples page syntax
code {
    background-color: $lightgray-bg;
    color: $md-red;
    font-family: $md-pre-font-family;
}
pre {
    padding: rem(20) !important;
    border: none !important;
    background-color: $lightgray-bg;
    code {
        font-family: $md-pre-font-family;
    }
    .com {
        color: $md-gray-comment;
    }
}

// common markdown syntax
.markdown-syntax {
    font-size: rem(14);
    word-wrap: break-word;
    @extend .cf;
    > *:first-child {
        margin-top: 0 !important
    }
    > *:last-child {
        margin-bottom: 0 !important
    }
    em {
        font-style: italic;
    }
    a {
        @include md-a-style();
    }
    a:not([href]) {
        color: inherit;
    }
    p, blockquote, ul, ol, dl,
    table, pre {
        margin-top: 0;
        margin-bottom: rem(16);
    }
    hr {
        height: 0.25em;
        padding: 0;
        margin: rem(24) 0;
        background-color: $md-border-color;
        border: 0
    }
    blockquote {
        padding: 0 1em;
        color: $md-gray;
        border-left: 0.25em solid $md-border-color;
        font-size: inherit;
        >:first-child {
            margin-top: 0
        }
        >:last-child {
            margin-bottom: 0
        }
    }
    kbd {
        display: inline-block;
        padding: rem(3) rem(5);
        font-size: rem(11);
        line-height: rem(10);
        color: $md-text-color;
        vertical-align: middle;
        background-color: $md-gray-bg;
        border: solid 1px $md-border-color;
        border-radius: rem(3);
        box-shadow: inset 0 -1px 0 $md-border-color;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: rem(24);
        margin-bottom: rem(16);
        padding-bottom: 0.3em;
        font-weight: 600;
        line-height: 1.25;
        border-bottom: 1px solid $md-border-color;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        margin-top: rem(36);
        border-bottom: none;
        font-size: 1.25em;
    }
    h4 {
        border-bottom: none;
        font-size: 1em;
    }
    h5 {
        border-bottom: none;
        font-size: 0.875em;
    }
    h6 {
        border-bottom: none;
        font-size: 0.85em;
        color: $md-gray;
    }
    ul, ol {
        padding-left: 2em
    }
    ul ul, ul ol, ol ol, ol ul {
        margin-top: 0;
        margin-bottom: 0
    }
    li {
        > p {
            margin-top: rem(16);
        }
        + li {
            margin-top: 0.25em;
        }
    }
    dl {
        padding: 0;
        dt {
            padding: 0;
            margin-top: rem(16);
            font-size: 1em;
            font-style: italic;
            font-weight: 600;
        }
        dd {
            padding: 0 rem(16);
            margin-bottom: rem(16);
        }
    }
    table {
        th {
            font-weight: 600;
        }
        th,
        td {
            padding: rem(10) rem(14);
            border: 1px solid $md-border-color;
            ul {
                margin-bottom: 0;
            }
        }
        tr {
            background-color: $md-white-bg;
            border-top: 1px solid $md-border-color;
        }
        img {
            background-color: transparent
        }
        tbody {
            tr:nth-of-type(odd) {
                background-color: $md-lightgray-bg;
                code {
                    word-break: break-word;
                    background-color: $md-code-bg-in-odd-table;
                }
            }
        }
    }
    img {
        max-width: 100%;
        box-sizing: content-box;
        background-color: $md-white-bg;
        &[align=right] {
            padding-left: rem(20);
        }
        &[align=left] {
            padding-right: rem(20);
        }
    }
    code, tt {
        padding: 0.2em rem(2);
        margin: 0;
        font-size: 85%;
        background-color: $md-lightgray-bg;
        border-radius: rem(2);
        &::before,
        &::after {
            letter-spacing: -0.2em;
            content: "\00a0"
        }
        br {
            display: none;
        }
    }
    del code {
        text-decoration: inherit;
    }
    pre {
        word-wrap: normal;
        code, tt {
            display: inline;
            max-width: auto;
            padding: 0;
            margin: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
            &::before,
            &::after {
                content: normal;
            }
        }
        > code {
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }
}

// custom markdown syntax
.markdown-syntax {
    h1, h2, h3 {
        color: $green;
    }
    h4 {
        font-size: rem(15);
    }
    th, em {
        font-weight: 400;
    }
}
