.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.pattern-transparent {
  $gray-color: #eee;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg, $gray-color 25%, transparent 25%, transparent 75%, $gray-color 75%
  ),
  linear-gradient(
      45deg, $gray-color 25%, #fff 25%, #fff 75%, $gray-color 75%
  );
}

.dotted-line {
  color: $root-text-color;
  text-decoration: none;
  border-bottom: 1px dotted #777;
  &:hover {
    color: $green;
    border-color: $gray;
  }
}

.icon-required {
  margin-left: rem(15);
  padding: rem(4) rem(8);
  line-height: 1;
  background-color: $green;
  color: #fff;
  font-size: rem(12);
  position: relative;
  top: rem(-2);
  border-radius: rem(30);
}
