.site-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.site-show {
  display: block !important;
}

.site-hidden {
  display: none !important;
}

.site-invisible {
  visibility: hidden !important;
}

.site-pattern-transparent {
  $gray-color: #eee;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg, $gray-color 25%, transparent 25%, transparent 75%, $gray-color 75%
  ),
  linear-gradient(
      45deg, $gray-color 25%, #fff 25%, #fff 75%, $gray-color 75%
  );
}

.site-dotted-line {
  color: $root-text-color;
  text-decoration: none;
  border-bottom: 1px dotted #777;
  &:hover {
    color: $green;
    border-color: $gray;
  }
}

.site-icon-required {
  display: inline-block;
  line-height: 1;
  margin-left: rem(10);
  padding: rem(4) rem(8);
  background-color: $green;
  color: #fff;
  font-size: rem(12);
  border-radius: rem(30);
  transform: scale(0.9);
}
