// common footer
.com-footer {
    padding: rem(20) 0;
    border-top: 1px solid $gray-border;
    text-align: center;
    > .text {
        > div {
            display: inline-block;
        }
    }
    a {
        &:hover {
            color: $green;
            text-decoration: underline;
        }
    }
}