// side menu
.menu {
    width: rem(240);
    &.fixed {
        padding: rem(20) 0;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    li {
        margin-bottom: rem(10);
        a {
            display: block;
            width: 100%;
            height: rem(30);
            line-height: rem(30);
            padding-left: rem(20);
            border-left: rem(5) solid transparent;
            font-size: rem(14);
            &:hover,
            &.active {
                background-color: #F7F7F7;
                color: $green;
                border-color: $green;
            }
        }
    }
}