#app {
  height: 100%;
}

.site-sticky-footer {
  display: flex;
  flex-direction: column;
  > .site-container {
    flex-grow: 1;
  }
}

// small screen (equal to $screen-sm)
.site-small-screen {
  > .site-container {
    padding: $site-container-padding-top-mobile $site-side-space-mobile
    $site-side-space-mobile;
  }
}

@media all and (max-width: $screen-md2) {
  $site-side-space: rem(80);
  .site-container-width {
    padding: 0 $site-side-space;
  }
}

@media all and (max-width: $screen-md) {
  $site-side-space: rem(40);
  .site-container-width {
    padding: 0 $site-side-space;
  }
}

@media all and (max-width: $screen-sm) {

}

@media all and (max-width: $screen-xs) {
  .site-footer {
    padding: rem(10);
    .container {
      transform: scale(0.86);
      > div {
        width: 100%;
        justify-content: center;
        margin-left: 0 !important;
      }
    }
  }
  body[class^='site-body-index'] {
    .home-root {
      .title {
        font-size: rem(60);
      }
    }
  }
}
