@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1472636258_2663677.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1472636258_2663677.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1472636258_2663677.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1472636258_2663677.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1472636258_2663677.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon,
.icon:before{
    display: inline-block;
    line-height: 1;
}
.icon:before{
    font-family: "iconfont";
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$iconfont: (
    menu: 600,

);
@each $key, $val in $iconfont {
    .icon-#{ $key }:before{
        content: '"'+\e+ '#{$val}' +'"';
    }
}